html {
    scroll-behavior: smooth;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.smooth-scrolled {
    scroll-margin-top: 6rem;
}

@layer components {
    .mobile-nav__content .main-menu__list li a button.expanded {
        @apply text-secondary;
    }

    .mobile-nav__content {
        @apply bg-primary;
    }

    #primary-menu.bg-gray-100 .mobile-nav__toggler {
        @apply text-primary;
    }

    .nav-link {
        @apply flex items-center px-4 py-3 leading-5 font-medium transition ease-in duration-300;
    }

    .default-container {
        @apply max-w-3xl lg:max-w-5xl xl:max-w-6xl 2xl:max-w-7xl mx-auto px-5 xl:px-0;
    }
    .section-container {
        @apply default-container py-16 sm:py-32;
    }

    .title {
        @apply text-4xl font-bold tracking-tight text-primary dark:text-zinc-100 sm:text-5xl;
    }

    .section-title {
        @apply text-3xl font-bold text-primary dark:text-zinc-100 sm:text-4xl;
    }

    .dashboard-container {
        @apply px-4 py-4 sm:px-6 lg:px-8;
    }

    .btn {
        @apply w-full sm:w-auto inline-flex rounded-full items-center justify-center text-base leading-6 font-medium px-4 py-2 focus:outline-none transition ease-in-out duration-150;
    }

    .btn-primary {
        @apply btn bg-primary hover:bg-tertiary text-white;
    }

    .btn-danger {
        @apply btn bg-red-600 hover:bg-red-900 text-white;
    }

    .btn-secondary {
        @apply btn bg-secondary/90 hover:bg-secondary text-white;
    }

    .btn-primary-rounded {
        @apply btn btn-primary rounded-full;
    }

    .btn-secondary-rounded {
        @apply btn btn-secondary rounded-full;
    }

    .btn-outline {
        @apply w-full inline-flex justify-center border border-secondary shadow-sm px-4 py-2 bg-white text-base font-medium text-secondary hover:text-primary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:mt-0 sm:w-auto sm:text-sm;
    }

    .badge {
        @apply inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-primary;
    }
}
